.grid-container {

    display: grid;
}    


.grid-container > div {
text-align: center;
font-weight: bolder;
font-size: larger;
border: solid black 1px;
border-radius: 5px;
padding: 1em;

}

.div4, .div5, .div6, .div7, .div8 {
    display: none;
}

@media only screen and (min-width: 375px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    .div4, .div5, .div6 {
        display: block;
    }
}

@media only screen and (min-width: 1440px) {
    .grid-container {
        grid-template-columns: auto auto auto auto;
    }
    .div4, .div5, .div6, .div7, .div8 {
        display: block;
    }
}